.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 100px;
  z-index: 200;
  border-bottom: 1px solid rgb(219,219,219);
  align-items: center;
  width: 100%;
}

.img {  
  height: 100px;
}

.box {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  width: 300px;
  border-radius: 30px;
  padding: 5px;
  background-color: rgb(239,239,239);
}

.box > i {
  font-size: 20px;
  color: #777;
  margin-left: 10px;
}

.box > input {
  background-color: rgb(239,239,239);
  font-size: 16px;
    z-index: 2;
    padding: 3px 16px;
 border: none;
}



.tabs {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  /* height: 15vh; */
  text-align: center;
  width: 100%;
  padding-left: 300px;
  /* height: 100px; */
}

.tab {
  padding: 4px 0px;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.tab > a {
  opacity: 0.8;
  font-family: sans-serif;
font-size: 20px;
line-height: 36px;
white-space: nowrap;
margin-right: 8px;
text-decoration: none;
color: black;
}

@media (max-width: 700px) {
  .navbar {
    padding:0 10px;
    width: 80%;
  }
  .box {
    display: none;
  }
  .tabs {
    padding:1.8em 1em ;
    display: flex;
  }
}